.container {
  margin: 10px auto;
  width: 800px;
  height: auto;
  background-color: rgb(90, 109, 22);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 300px;
  margin: 10px 10px;
  background-color: rgb(216, 168, 35);
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.card:hover {
  box-shadow: 5px 5px 2px rgb(80, 73, 8);
}
.card img {
  width: 100px;
  height: 150px;
}

.card p {
  color: white;
}

.color {
  background-color: red;
}
